html{
    scroll-behavior: smooth;   
}
body{
     background-position:center ;
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
     background-color: whitesmoke;
     margin: 0;
     padding: 0;
}
nav a{
text-align: center;
font-size: small;
background-color: black;
background-size: cover;
}
ul{
    display: table;
    margin: 0 auto;
    padding: 0;
    width: 80%;
    text-align: center;
}
ul li{
    display: table-cell;
    min-width: 50px;
}
ul li a{
    display: block;
    width: 100%;
    text-decoration: none;
    padding: 10px 0;
    color:whitesmoke;
    font-weight: bold;
    line-height: 1;
    top: 0;
}

ul li.current a{
    color: whitesmoke;
}
ul li.hover{
    color: #E71B1F;
}
nav ul b{
    margin: 0;
    padding: 0;
}
nav li b{
    list-style: none;
    display: inline-block;
    width: 10%;
}
nav li b:not(:last-child){
    border-right: 2px solid #ddd;
}

nav b{
    text-decoration: none;
    background-color: whitesmoke;
    color:black;
    font-size: small;
}

nav b:hover{
    color: wheat;
    border-bottom:2px solid wheat;
}


.main-visual img {
    width: 100%;
}
.main-visual {
     border-width: 1px;
     background-color: black;
     color: whitesmoke;
     margin: 0 0 0 0;
}

h1{
    top: 0;
    left: 0;
    margin: 0;
    color: black;
    line-height: 1;
    font-size: small;
    padding: 5px 10px;
}
h2{
    color: chocolate;
    font-size: large;
    text-align: center;
}
h3{
    text-align: center;
    color: whitesmoke;
}

h4{
    text-align: center;
    color: black;
}

div.photo-box {
    float: left;
    padding-right: 20px;
}

.photo_flame{
   display: block;
   float: none;
   padding-right: 20px;  
   text-align: center;
   border-top-left-radius: 10px;
   
}

.photo{
    display: block;
    float: none;
    padding-right: 20px;
    text-align: center;   
 }
 
p{
    text-align: center;
    font-size: smaller;
}

.photo2{
    display: block;
    float: none;
    padding-right: 40px; 
    padding-left: 60px;
    padding: 0;
}

.concept a{
    text-align: left;
}
.service a{ 
    text-align: center;
}
.floor a{
    text-align: right;
}
.date{
    text-align: left;
    bottom: auto;
    float: left;
    width: 30%;
}
.date1{
    float: left;
    text-align: center;
    width: 30%;
}
.date2{
    float: right;
    width: 30%;
    margin-right: 10%;
    text-align: center;
}
.date3{
    text-align: left;
    float: left;
    width: 20%;
    margin-left: 18%;
}
.date4{
    float: left;
    width: 20%;
}
.date5{
    float: right;
    width: 20%;
    margin-right: 22%;
}
.date6{
    text-align: left;
    float: left;
    width: 20%;
    margin-left: 20%;
}
.date7{
    float: left;
    width: 20%;
}
.date8{
    float: right;
    width: 20%;
    margin-right: 20%;
}

.sample img {
    width: 3%;
    height: auto;
    color: blanchedalmond;
    background-color: white;
}

.btn{
    background-color: black;
    color: blanchedalmond;
}

.btn1{
    background-color: black;
    text-align: center;
    color: cornsilk;
    float: right;
}
.footer{
    background-color: black;
    color: cornsilk;
}

